Repository Nook-Book/Client, pull requests merged in 2024-07, with the labels that each got.

#5 [design/#2] 컬러 시스템, 폰트 시스템 추가, 아이콘 추가
  App.tsx
  declarations.d.ts
  package-lock.json
  package.json
  src/assets/fonts/SCDream4.otf
  src/assets/fonts/SCDream5.otf
  src/assets/fonts/SCDream6.otf
  src/assets/images/dummy/.gitkeep
  src/assets/images/icon/Alert.svg
  src/assets/images/icon/AlertVariant.svg
  src/assets/images/icon/AllNotes.svg
  src/assets/images/icon/Back.svg
  src/assets/images/icon/Back2.svg
  src/assets/images/icon/Bold.svg
  src/assets/images/icon/Camera.svg
  src/assets/images/icon/Cancel.svg
  src/assets/images/icon/Cancelline.svg
  src/assets/images/icon/Challenge.svg
  src/assets/images/icon/Change.svg
  src/assets/images/icon/Check.svg
  src/assets/images/icon/CheckBox.svg
  src/assets/images/icon/CheckBoxDefault.svg
  src/assets/images/icon/Colletion.svg
  src/assets/images/icon/EyeHidden.svg
  src/assets/images/icon/EyeOpened.svg
  src/assets/images/icon/Image.svg
  src/assets/images/icon/Inter.svg
  src/assets/images/icon/Italic.svg
  src/assets/images/icon/Keybored.svg
  src/assets/images/icon/KeyboredClick.svg
  src/assets/images/icon/Library.svg
  src/assets/images/icon/Logo.svg
  src/assets/images/icon/MY.svg
  src/assets/images/icon/Minus.svg
  src/assets/images/icon/Note.svg
  src/assets/images/icon/NotePencel.svg
  src/assets/images/icon/Plus.svg
  src/assets/images/icon/Plus2.svg
  src/assets/images/icon/Read.svg
  src/assets/images/icon/ReadDefault.svg
  src/assets/images/icon/Reset.svg
  src/assets/images/icon/Search.svg
  src/assets/images/icon/SearchMini.svg
  src/assets/images/icon/Setting.svg
  src/assets/images/icon/Share.svg
  src/assets/images/icon/TextColor.svg
  src/assets/images/icon/TextImport.svg
  src/assets/images/icon/TextShape.svg
  src/assets/images/icon/Timer.svg
  src/assets/images/icon/Underline.svg
  src/assets/images/icon/XMini.svg
  src/pages/mainPage/MainPage.tsx
  src/styles/Theme.ts
Labels: 🎨 Style, ⚙ Setting

#9 [design/#2] svg 추가, 네비게이션바 UI 수정
  declarations.d.ts
  metro.config.js
  package-lock.json
  package.json
  src/assets/images/icon/Challenge.svg
  src/assets/images/icon/Library.svg
  src/assets/images/icon/MY.svg
  src/assets/images/icon/Search.svg
  src/components/navBar/TabNavigation.tsx
  src/pages/challengePage/ChallengePage.tsx
  src/pages/challengePage/ChallengePageStyle.ts
  src/pages/libraryPage/LibraryPage.tsx
  src/pages/libraryPage/LibraryPageStyle.ts
  src/pages/myPage/MyPage.tsx
  src/pages/myPage/MyPageStyle.ts
  src/pages/searchPage/SearchPageStyle.ts
Labels: 🎨 Style

#11 [design/#2] 폰트 시스템 수정
  App.tsx
  src/styles/Theme.ts
Labels: ✨ Feature, ⚙ Setting

#14 [feat/#3] 검색 페이지 구현
  src/assets/data/dummyBestBookList.ts
  src/assets/data/dummyRecentSearchList.ts
  src/assets/images/index.ts
  src/components/navBar/ StackNavigation.tsx
  src/components/navBar/TabNavigation.tsx
  src/components/search/BestSeller.tsx
  src/components/search/BestSellerBook.tsx
  src/components/search/BestSellerKeyword.tsx
  src/components/search/BookCollection.tsx
  src/components/search/RecentSearch.tsx
  src/components/search/RecentSearchCard.tsx
  src/components/search/ResultBookCard.tsx
  src/components/search/SearchHeader.tsx
  src/constans/search/index.ts
  src/pages/searchPage/BestSellerPage.tsx
  src/pages/searchPage/SearchPage.tsx
  src/pages/searchPage/SearchResultPage.tsx
  src/styles/search/BestSellerBookStyle.ts
  src/styles/search/BestSellerPageStyle.ts
  src/styles/search/BestSellerStyle.ts
  src/styles/search/RecentSearchCardStyle.ts
  src/styles/search/RecentSearchStyle.ts
  src/styles/search/ResultBookCardStyle.ts
  src/styles/search/SearchHeaderStyle.ts
  src/styles/search/SearchPageStyle.ts
  src/styles/search/SearchResultPageStyle.ts
  src/types/navigation/navigation.ts
  src/types/search/bestbook.ts
  src/types/search/index.ts
Labels: 🎨 Style, ✨ Feature

#16 [fix] Search 에러 수정
  src/components/navBar/TabNavigation.tsx
  src/pages/searchPage/SearchPage.tsx
  src/pages/searchPage/SearchResultPage.tsx
  src/styles/Theme.ts
  src/styles/search/SearchHeaderStyle.ts
Labels: 🐞 BugFix
