Repository Nook-Book/Client, pull requests merged in 2025-02, with the labels that each got.

#37 [feat/#30] expo 버전 업데이트 및 링크 복사 기능 추가
  App.tsx
  app.json
  package-lock.json
  package.json
  src/assets/data/dummyAlertList.ts
  src/components/bottomSheet/ShareBottomSheet.tsx
  src/components/header/BackShareHeader.tsx
  src/components/header/BackTextHeader.tsx
  src/components/navBar/TabNavigation.tsx
  src/pages/detailPage/DetailPage.tsx
  src/pages/libraryPage/AlertPage.tsx
  src/pages/libraryPage/EditBookPage.tsx
  src/styles/header/HeaderStyle.ts
  src/styles/library/AlertPageStyle.ts
Labels: 🐞 BugFix, ✨ Feature, ⚙ Setting

#38 feat: 마이페이지 api 연동
  src/api/user-Mypage/getMyPage.ts
  src/api/user-Mypage/getReport.ts
  src/components/myPage/Bookstatistics.tsx
  src/components/myPage/BookstatisticsHeader.tsx
  src/components/myPage/Profile.tsx
  src/hooks/mypage/useMyPage.ts
  src/hooks/mypage/useReport.ts
  src/types/mypage/index.ts
  src/types/mypage/report.ts
Labels: 🔗 API

#39 [feat/#30] 공유 기능 제작
  package-lock.json
  package.json
  src/components/bottomSheet/ShareBottomSheet.tsx
Labels: ✨ Feature

#40 [feat/#32] detail 페이지 연결
  src/components/bottomSheet/ShareBottomSheet.tsx
  src/components/bottomSheet/ShareCard.tsx
  src/components/navBar/SearchStackNavigation.tsx
  src/components/navBar/TabNavigation.tsx
  src/components/search/BestSellerBook.tsx
  src/components/search/BookCollection.tsx
  src/components/search/ResultBookCard.tsx
  src/pages/detailPage/DetailPage.tsx
  src/pages/searchPage/BestSellerPage.tsx
  src/pages/searchPage/SearchResultPage.tsx
  src/types/detail.ts
  src/types/navigation/navigation.ts
  src/types/search/bestbook.ts
  src/types/search/index.ts
Labels: ✨ Feature

#41 [feat/#32] 챌린지 페이지 API 연동 및 UI 수정
  package-lock.json
  package.json
  src/api/challenge/getFriendList.ts
  src/api/challenge/getInviteList.ts
  src/api/challenge/getParticipant.ts
  src/api/challenge/patchOwner.ts
  src/api/challenge/postAcceptChallenge.ts
  src/api/challenge/postChallenge.ts
  src/api/challenge/postParticipant.ts
  src/api/challenge/postRejectChallenge.ts
  src/assets/images/icon/ArrowDown.svg
  src/assets/images/icon/CheckSmall.svg
  src/components/bottomSheet/ShareBottomSheet.tsx
  src/components/challenge/GoalTimePicker.tsx
  src/components/challenge/ParticipantDeleteItem.tsx
  src/components/challenge/ParticipantItem.tsx
  src/components/challenge/WheelPicker.tsx
  src/components/modal/AddParticipantModal.tsx
  src/components/modal/CalenderSelectModal.tsx
  src/components/modal/ImageModal.tsx
  src/pages/challengePage/AllChallengePage.tsx
  src/pages/challengePage/ChallengeDetailPage.tsx
  src/pages/challengePage/ChallengeDetailSettingPage.tsx
  src/pages/challengePage/ChallengePage.tsx
  src/pages/challengePage/EditParticipantPage.tsx
  src/pages/challengePage/NewChallengePage.tsx
  src/pages/challengePage/StatusCardDetailPage.tsx
  src/pages/detailPage/AllNotePage.tsx
  src/pages/detailPage/DetailPage.tsx
  src/pages/detailPage/NotePage.tsx
  src/pages/detailPage/TimerPage.tsx
  src/pages/detailPage/WritePage.tsx
  src/pages/libraryPage/EditBookCollectionPage.tsx
  src/styles/challenge/AddParticipantModalStyle.ts
  src/styles/challenge/CustomWheelPickerStyle.ts
  src/styles/challenge/EditParticipantPageStyle.ts
  src/types/challenge.ts
Labels: 🎨 Style, ✨ Feature

#42 Feat/#34 my page api
  app.json
  package-lock.json
  package.json
  src/api/user-Mypage/getFriend.ts
  src/api/user-Mypage/getMyPage.ts
  src/api/user-Mypage/getReport.ts
  src/api/user-Mypage/getReportCategory.ts
  src/components/myPage/CategoryReport.tsx
  src/components/myPage/Profile.tsx
  src/components/myPage/friendPage/FriendComponent.tsx
  src/components/myPage/friendPage/ReceivedRequestFriend.tsx
  src/components/myPage/friendPage/SendRequestFriend.tsx
  src/hooks/mypage/useCategory.ts
  src/hooks/mypage/useFriend.ts
  src/hooks/mypage/useMyPage.ts
  src/pages/challengePage/NewChallengePage.tsx
  src/pages/myPage/FriendPage.tsx
  src/types/mypage/category.ts
  src/types/mypage/friend.ts
Labels: 🔗 API

#44 Feat/#43 마이페이지 수정 api
  package-lock.json
  package.json
  src/api/user-Mypage/putId.ts
  src/api/user-Mypage/putImage.ts
  src/api/user-Mypage/putNickname.ts
  src/components/myPage/Profile.tsx
  src/components/myPage/editProfile/ChangeProfileModal.tsx
  src/components/myPage/editProfile/EditBox.tsx
  src/hooks/mypage/useMyPage.ts
  src/pages/myPage/EditProfilePage.tsx
  src/pages/myPage/SetIdPage.tsx
  src/pages/myPage/SetNicknamePage.tsx
  src/styles/myPage/editProfilePage/EditProfileModalStyle.ts
  src/types/mypage/index.ts
Labels: 🐞 BugFix, 🔗 API

#45 [feat/#32] 챌린지 페이지 추가 및 수정
  src/api/challenge/deleteChallengeExit.ts
  src/api/challenge/getFriendList.ts
  src/api/challenge/getInviteList.ts
  src/components/challenge/ChallengeCard.tsx
  src/components/challenge/ParticipantItem.tsx
  src/components/challenge/StatusList.tsx
  src/components/modal/AddParticipantModal.tsx
  src/pages/challengePage/AllChallengePage.tsx
  src/pages/challengePage/ChallengeDetailPage.tsx
  src/pages/challengePage/ChallengeDetailSettingPage.tsx
  src/pages/challengePage/ChallengePage.tsx
  src/pages/challengePage/EditParticipantPage.tsx
  src/pages/challengePage/NewChallengePage.tsx
  src/pages/challengePage/StatusCardDetailPage.tsx
  src/pages/detailPage/AllNotePage.tsx
  src/pages/detailPage/DetailPage.tsx
  src/pages/detailPage/NotePage.tsx
  src/pages/detailPage/TimerPage.tsx
  src/pages/detailPage/WritePage.tsx
  src/pages/libraryPage/AlertPage.tsx
  src/pages/libraryPage/EditBookCollectionPage.tsx
  src/pages/libraryPage/EditBookPage.tsx
  src/pages/libraryPage/LibraryPage.tsx
  src/styles/challenge/AllChallengePageStyle.ts
  src/styles/challenge/ChallengeDetailPageStyle.ts
  src/styles/challenge/ChallengePageStyle.ts
  src/types/challenge.ts
Labels: 🎨 Style, ✨ Feature, 🔗 API

#48 [fix/#46] 1차 QA 수정
  src/components/header/AllNoteHeader.tsx
  src/components/header/BackHeader.tsx
  src/components/header/BackSettingHeader.tsx
  src/components/header/BackShareHeader.tsx
  src/components/header/BackTextHeader.tsx
  src/components/header/BackTitleHeader.tsx
  src/components/header/CalenderHeader.tsx
  src/components/header/EditHeader.tsx
  src/components/header/MainHeader.tsx
  src/components/header/NoteHeader.tsx
  src/components/header/RightTextHeader.tsx
  src/components/header/WriteHeader.tsx
  src/components/myPage/MyPageAtherNav.tsx
  src/components/myPage/MyPageNav.tsx
  src/components/myPage/editProfile/SetProfileNav.tsx
  src/components/navBar/TabNavigation.tsx
  src/components/search/SearchHeader.tsx
  src/pages/challengePage/AllChallengePage.tsx
  src/pages/challengePage/ChallengeDetailPage.tsx
  src/pages/challengePage/ChallengeDetailSettingPage.tsx
  src/pages/challengePage/ChallengePage.tsx
  src/pages/challengePage/EditParticipantPage.tsx
  src/pages/challengePage/NewChallengePage.tsx
  src/pages/challengePage/StatusCardDetailPage.tsx
  src/pages/detailPage/AllNotePage.tsx
  src/pages/detailPage/DetailPage.tsx
  src/pages/detailPage/NotePage.tsx
  src/pages/detailPage/TimerPage.tsx
  src/pages/detailPage/WritePage.tsx
  src/pages/libraryPage/AlertPage.tsx
  src/pages/libraryPage/EditBookCollectionPage.tsx
  src/pages/libraryPage/EditBookPage.tsx
  src/pages/libraryPage/LibraryPage.tsx
  src/pages/myPage/EditProfilePage.tsx
  src/pages/myPage/FriendPage.tsx
  src/pages/myPage/FriendSearchResultPage.tsx
  src/pages/myPage/SetIdPage.tsx
  src/pages/myPage/SetNicknamePage.tsx
  src/pages/myPage/SettingPage.tsx
  src/styles/Theme.ts
  src/styles/detail/WritePageStyle.ts
  src/styles/header/HeaderStyle.ts
  src/styles/markdown/RenderRules.tsx
  src/styles/myPage/MyPageNav.ts
  src/styles/myPage/editProfilePage/SetProfileNav.ts
  src/styles/search/SearchHeaderStyle.ts
  src/styles/settingPage/SettingNav.ts
  src/types/search/index.ts
Labels: 🐞 BugFix

#49 feat: 컬렉션 api 추가
  .vscode/settings.json
  src/components/myPage/collection/MyCollectionItem.tsx
  src/components/navBar/MaPageStackNavigation.tsx.tsx
  src/hooks/mypage/useCollection.ts
  src/pages/myPage/MyCollectionPage.tsx
  src/pages/myPage/MyPage.tsx
  src/styles/myPage/collectionPage/MyCollectionItemStyle.ts
  src/styles/myPage/collectionPage/MyCollectionPageStyle.ts
  src/types/navigation/navigation.ts
Labels: 🐞 BugFix, 🔗 API

#50 [fix/#46] 1차 QA 수정
  App.tsx
  src/assets/fonts/Oblique.otf
  src/assets/images/icon/Edit.svg
  src/components/challenge/ChallengeCard.tsx
  src/components/header/NoteHeader.tsx
  src/components/libary/BookList.tsx
  src/components/modal/EditModal.tsx
  src/components/myPage/editProfile/ChangeProfileModal.tsx
  src/components/write/ImageItem.tsx
  src/components/write/PlusItem.tsx
  src/components/write/TextShapeItem.tsx
  src/pages/challengePage/ChallengeDetailPage.tsx
  src/pages/challengePage/NewChallengePage.tsx
  src/pages/challengePage/StatusCardDetailPage.tsx
  src/pages/detailPage/NotePage.tsx
  src/pages/detailPage/WritePage.tsx
  src/pages/libraryPage/EditBookCollectionPage.tsx
  src/pages/libraryPage/EditBookPage.tsx
  src/pages/libraryPage/LibraryPage.tsx
  src/styles/Theme.ts
  src/styles/challenge/NewChallengePageStyle.ts
  src/styles/detail/WritePageStyle.ts
  src/styles/header/HeaderStyle.ts
  src/styles/library/CarouselItemStyle.ts
  src/styles/markdown/MarkdownStyle.ts
  src/styles/markdown/RenderRules.tsx
  src/styles/write/ImageItemStyle.ts
  src/styles/write/PlusItemStyle.ts
  src/styles/write/TextShapeItemStyle.ts
Labels: 🐞 BugFix, 🎨 Style, ✨ Feature
