Repository Nook-Book/Client, pull requests merged in 2025-03, with the labels that each got.

#52 [feat/#32] 챌린지 현황 조회 추가
  src/api/challenge/getCalendar.ts
  src/components/challenge/ChallengeCard.tsx
  src/components/challenge/ChallengeToast.tsx
  src/components/challenge/StatusList.tsx
  src/pages/challengePage/StatusCardDetailPage.tsx
  src/styles/challenge/ChallengeCardStyle.ts
  src/styles/challenge/StatusCardDetailPageStyle.ts
  src/types/challenge.ts
Labels: 🎨 Style, ✨ Feature, 🔗 API

#53 [feat/#30] 독서 노트 비공개 UI 제작
  src/assets/images/icon/LockClose.svg
  src/assets/images/icon/LockOpen.svg
  src/components/header/WriteHeader.tsx
  src/pages/detailPage/NotePage.tsx
  src/pages/detailPage/WritePage.tsx
  src/styles/header/HeaderStyle.ts
Labels: 🎨 Style, ✨ Feature

#54 [feat/#32] 챌린지 생성 api 연동
  package-lock.json
  package.json
  src/api/challenge/postChallenge.ts
  src/components/modal/DeleteModal.tsx
  src/components/modal/EditModal.tsx
  src/components/modal/MaxCollectionModal.tsx
  src/components/modal/TimePickerModal.tsx
  src/components/modal/TitleDesModal.tsx
  src/components/modal/WarningModal.tsx
  src/pages/challengePage/NewChallengePage.tsx
  src/styles/modal/ModalStyle.ts
Labels: 🎨 Style, ✨ Feature, 🔗 API

#55 [feat/#30] 독서 기록 비공개 api 추가
  package-lock.json
  package.json
  src/components/bottomSheet/ShareBottomSheet.tsx
  src/pages/detailPage/NotePage.tsx
  src/pages/detailPage/WritePage.tsx
  src/styles/bottomSheet/BottomSheetStyle.ts
  src/types/note.ts
Labels: 🐞 BugFix, 🎨 Style, ✨ Feature, 🔗 API

#56 [fix] 챌린지 스타일 태그 오류 수정
  src/components/challenge/ParticipantItem.tsx
  src/components/challenge/StatusList.tsx
  src/pages/challengePage/ChallengeDetailSettingPage.tsx
  src/styles/challenge/AddParticipantModalStyle.ts
Labels: 🐞 BugFix

#57 Feat/#51 카카오로그인구현
  .env
  App.tsx
  app.json
  package-lock.json
  package.json
  src/api/auth/idTokenLogin.ts
  src/api/index.ts
  src/api/user/info.ts
  src/api/user/nickname.ts
  src/api/user/nickname_id.ts
  src/assets/images/icon/GoogleLogo.svg
  src/assets/images/icon/KaKaoLogo.svg
  src/assets/images/icon/NaverLogo.svg
  src/assets/images/icon/temporaryLogo.svg
  src/components/auth/AuthConsumer.tsx
  src/components/login/CheckButton.tsx
  src/components/navBar/LoginStackScreen.tsx
  src/context/AuthContext.tsx
  src/hooks/auth/useAuth.ts
  src/hooks/user/useUser.ts
  src/pages/loginPage/JoinPage.tsx
  src/pages/loginPage/LoginPage.tsx
  src/styles/join/joinPage.ts
  src/styles/login/JoinPage.ts
  src/styles/login/LoginPage.ts
  src/types/auth/auth.ts
  src/types/navigation/navigation.ts
  src/types/user/user.ts
  src/utils/storage.ts
Labels: 🔗 API

#59 Fix/#58 my page qa
  App.tsx
  package-lock.json
  package.json
  src/api/collection/deleteCollection.ts
  src/api/collection/getList.ts
  src/api/index.ts
  src/api/user-Mypage/getNote.ts
  src/api/user-Mypage/putNickname.ts
  src/api/user/exists.ts
  src/components/modal/AddCollectionModal.tsx
  src/components/modal/DeleteCollectionModal.tsx
  src/components/myPage/Profile.tsx
  src/components/myPage/collection/MyCollectionItem.tsx
  src/components/myPage/editProfile/ChangeProfileModal.tsx
  src/components/navBar/MaPageStackNavigation.tsx.tsx
  src/constans/myPage/index.ts
  src/hooks/auth/useAuth.ts
  src/hooks/collection/useCollections.ts
  src/hooks/mypage/useCollection.ts
  src/hooks/mypage/useNote.ts
  src/pages/libraryPage/LibraryPage.tsx
  src/pages/loginPage/JoinPage.tsx
  src/pages/loginPage/LoginPage.tsx
  src/pages/myPage/MyCollectionPage.tsx
  src/pages/myPage/MyPage.tsx
  src/pages/myPage/MyReportPage.tsx
  src/pages/myPage/SetNicknamePage.tsx
  src/styles/modal/AddCollectionModalStyle.ts
  src/styles/myPage/collectionPage/MyCollectionItemStyle.ts
  src/styles/myPage/collectionPage/MyCollectionPageStyle.ts
  src/styles/myPage/editProfilePage/SetProfile.ts
  src/styles/myPage/reportPage/MyReportPageStyle.ts
  src/types/auth/auth.ts
  src/types/mypage/myReport.ts
  src/types/navigation/navigation.ts
  src/types/report/MyReport.ts
  src/utils/storage.ts
Labels: 🐞 BugFix, 🔗 API

#60 Fix/calendar routh
  src/assets/images/icon/CalenderIcon.svg
  src/components/navBar/MaPageStackNavigation.tsx.tsx
  src/constans/myPage/index.ts
  src/pages/myPage/MyPage.tsx
  src/styles/myPage/MyPageStyle.ts
  src/types/navigation/navigation.ts
Labels: ✨ Feature

#61 [feat/#32] 챌린지 페이지 자잘한 수정
  .gitignore
  src/api/challenge/getMyCalendar.ts
  src/constans/myPage/index.ts
  src/pages/challengePage/ChallengeDetailPage.tsx
  src/pages/challengePage/NewChallengePage.tsx
  src/pages/challengePage/StatusCardDetailPage.tsx
Labels: 🐞 BugFix, ✨ Feature, 🔗 API

#62 feat: 친구 요청 api 수정
  src/api/user-Mypage/postPending.ts
  src/components/myPage/friendPage/FriendComponent.tsx
  src/components/myPage/friendPage/SendRequestFriend.tsx
  src/hooks/mypage/useFriend.ts
  src/pages/myPage/FriendPage.tsx
  src/types/friend/index.ts
  src/types/mypage/friend.ts
Labels: 🐞 BugFix
